jms-study/src/main/resources/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="hao"
	elementFormDefault="qualified">
	<complexType name="person">
		<all>
			<element name="firstName" type="string" minOccurs="0" />
			<element name="lastName" type="string" minOccurs="0" />
		</all>
	</complexType>
	<element name="test">
		<complexType>
			<sequence>
				<element name="x" type="string" minOccurs="0">
					<annotation>
						<documentation>rfadsfdsfafasf</documentation>
					</annotation>
				</element>
				<element name="y" type="integer" minOccurs="0" />
			</sequence>
		</complexType>
	</element>
</schema>